{
  "openapi": "3.1.0",
  "info": {
    "title": "Actuent API",
    "version": "1.1.0",
    "description": "Actuent is a search engine for AI agents. Search any topic or domain and get websites back as LAWP: structured JSON with each site's pages and the actions a visitor can take. Free without a key (20 requests/min); Pro API keys from actuent.ai give full results and 60 requests/min.",
    "contact": {
      "name": "localilabs",
      "url": "https://localilabs.com",
      "email": "support@localilabs.com"
    },
    "termsOfService": "https://docs.actuent.ai/terms"
  },
  "servers": [
    {
      "url": "https://api.actuent.ai"
    }
  ],
  "externalDocs": {
    "url": "https://docs.actuent.ai"
  },
  "security": [
    {},
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/search": {
      "get": {
        "operationId": "searchWeb",
        "summary": "Search websites and products as structured LAWP",
        "description": "Search by topic (\"barber amsterdam\", \"running shoes under \u20ac100\"), domain (\"nike.com\") or page (\"stripe.com/pricing\"). Queries in any language are answered in English. Each result and product has a visit_url: use it when giving the user a link.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Topic, domain or domain/path"
          }
        ],
        "responses": {
          "200": {
            "description": "Results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. See Retry-After and X-RateLimit-* headers."
          },
          "503": {
            "description": "Actuent is very busy and couldn't finish the request. Wait Retry-After seconds and try again.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "retry_after_seconds": {
                      "type": "integer"
                    },
                    "notices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Notice"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing query, or longer than 500 characters"
          }
        }
      },
      "post": {
        "operationId": "searchWebPost",
        "summary": "Search (POST form)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "503": {
            "description": "Actuent is very busy and couldn't finish the request. Wait Retry-After seconds and try again.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "retry_after_seconds": {
                      "type": "integer"
                    },
                    "notices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Notice"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing query, or longer than 500 characters"
          }
        }
      }
    },
    "/api/register": {
      "get": {
        "operationId": "getSiteClaim",
        "summary": "Ownership status and current LAWP for a domain (Pro)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status, DNS verification record and current LAWP"
          },
          "401": {
            "description": "Missing or invalid Pro key"
          }
        }
      },
      "post": {
        "operationId": "registerSite",
        "summary": "List or update your site's LAWP (Pro, verified owners)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Site"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved"
          },
          "403": {
            "description": "Domain not verified; response includes the DNS TXT record to add"
          }
        }
      }
    },
    "/api/stats": {
      "get": {
        "operationId": "getStats",
        "summary": "Live counts of indexed sites and searches",
        "responses": {
          "200": {
            "description": "Counts"
          }
        }
      }
    },
    "/api/state": {
      "get": {
        "operationId": "getStateOfAIWeb",
        "summary": "State of the AI web: readability, native LAWP, products, languages and trends",
        "responses": {
          "200": {
            "description": "Aggregate statistics"
          }
        }
      }
    },
    "/api/diff": {
      "get": {
        "operationId": "getLatestChange",
        "summary": "Latest detected change to a site's LAWP",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest diff"
          }
        }
      }
    },
    "/api/suggest": {
      "post": {
        "operationId": "suggestSite",
        "summary": "Suggest a site for the index",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queued"
          }
        }
      }
    },
    "/.well-known/lawp.json": {
      "get": {
        "operationId": "getActuentLawp",
        "summary": "Actuent's own LAWP (reference example with an executable action)",
        "responses": {
          "200": {
            "description": "LAWP document"
          }
        }
      }
    },
    "/badge.json": {
      "get": {
        "summary": "Get agent readiness score",
        "description": "A site's agent-readiness score (0\u2013100), label, category and each check.",
        "operationId": "get_agent_readiness_score",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "e.g. nike.com"
          }
        ],
        "responses": {
          "200": {
            "description": "Score as JSON"
          }
        }
      }
    },
    "/badge.svg": {
      "get": {
        "summary": "Get badge image",
        "description": "Live score badge. style=card for a larger card with the checks.",
        "operationId": "get_badge_image",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "e.g. nike.com"
          },
          {
            "name": "style",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "compact (default) or card"
          }
        ],
        "responses": {
          "200": {
            "description": "SVG image"
          }
        }
      }
    },
    "/leaderboard": {
      "get": {
        "summary": "Get leaderboard",
        "description": "The 100 sites agents found most often in the last 7 days.",
        "operationId": "get_leaderboard",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Ranked sites"
          }
        }
      }
    },
    "/site/{domain}": {
      "get": {
        "summary": "Site page",
        "description": "Human-readable page: what AI agents see on a site, its score, how to improve it and similar sites.",
        "operationId": "site_page",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML page"
          }
        }
      }
    },
    "/site/in/{city}/whats-on.ics": {
      "get": {
        "summary": "City events calendar",
        "description": "Upcoming events in a city as an iCalendar feed.",
        "operationId": "city_events_ics",
        "parameters": [
          {
            "name": "city",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "City slug, e.g. copenhagen"
          }
        ],
        "responses": {
          "200": {
            "description": "text/calendar"
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "summary": "Get llms.txt",
        "description": "Actuent's llms.txt.",
        "operationId": "get_llms.txt",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Markdown"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Actuent Pro API key from actuent.ai (optional for search)"
      }
    },
    "schemas": {
      "Action": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "intent": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "input": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text",
                  "number",
                  "none"
                ]
              },
              "required": {
                "type": "boolean"
              }
            }
          },
          "endpoint": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "method": {
                "type": "string",
                "enum": [
                  "POST",
                  "GET"
                ]
              }
            },
            "description": "Present when the action can be executed (only from the site's own /.well-known/lawp.json)"
          }
        }
      },
      "Site": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "example": "abdisbarber.com"
          },
          "name": {
            "type": "string"
          },
          "pages": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              }
            }
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Action"
            }
          },
          "native": {
            "type": "boolean",
            "description": "The site publishes its own LAWP at /.well-known/lawp.json"
          },
          "executable": {
            "type": "boolean",
            "description": "At least one action has an endpoint agents can call"
          },
          "language": {
            "type": "string",
            "description": "ISO 639-1 code of the site's original language (LAWP text is always English)"
          },
          "last_updated": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "age_hours": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "In English"
          },
          "original_name": {
            "type": "string"
          },
          "price": {
            "type": [
              "number",
              "null"
            ]
          },
          "currency": {
            "type": [
              "string",
              "null"
            ]
          },
          "price_eur": {
            "type": [
              "number",
              "null"
            ]
          },
          "url": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          },
          "available": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Site"
            }
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            },
            "description": "Products with prices, for shopping queries"
          },
          "message": {
            "type": "string",
            "description": "The first notice's message, when there is one. Show it to the user."
          },
          "notices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Notice"
            }
          },
          "places": {
            "type": "object",
            "description": "Local searches with no indexed websites yet: places from OpenStreetMap (map entries, not indexed sites).",
            "properties": {
              "source": {
                "type": "string"
              },
              "attribution": {
                "type": "string"
              },
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "website": {
                      "type": "string",
                      "nullable": true
                    },
                    "phone": {
                      "type": "string",
                      "nullable": true
                    },
                    "opening_hours": {
                      "type": "string",
                      "nullable": true
                    },
                    "map": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Notice": {
        "type": "object",
        "description": "Why results are limited or empty, in plain English. See https://docs.actuent.ai/#errors",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "busy_limited_results",
              "busy_saved_copy",
              "busy_queued",
              "busy_no_results",
              "busy",
              "heavy_use",
              "temporarily_unavailable",
              "site_unreachable",
              "robots_blocked",
              "no_results"
            ]
          },
          "message": {
            "type": "string",
            "description": "Written for people: pass it on to the user."
          },
          "retry_after_seconds": {
            "type": "integer",
            "description": "Trying again after this long should give a better answer."
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    }
  }
}
